# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
*.jpg
*.png
data/*
result/*
Qing/data_old/*
checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
Qing/code_old/*
Qing/data/*
Qing/data_clear_figure/*


